@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .styled-border {
    @apply relative bg-[rgba(255,255,255,0.25)] overflow-hidden;
  }

  /* gradient */
  .styled-border::before {
    background: linear-gradient(
      273.1deg,
      #73e7e7 2.56%,
      #a4f0f0 21.85%,
      #c6f8f8 33.42%,
      #ffffff 51.26%,
      #ffffff 54.64%,
      #c6f8f8 74.41%,
      #a4f0f0 84.53%,
      #73e7e7 95.14%
    );
    @apply absolute h-[384px] w-[384px] content-[''];
    animation: spin 4s linear infinite;
    z-index: 0;
    top: -300%;
    left: 0;
    border-radius: 50%;
  }

  .button-content-inner {
    @apply absolute bg-[rgba(255,255,255)] w-[calc(100%-16px)] h-[calc(100%-16px)] top-[8px] left-[8px];
    z-index: 1;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
